@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=DM+Sans:wght@300;400;500&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --color-1:   #d1fae5;
    --color-2:   #059669; 
    --color-3:   #047857; 
    --color-4:   #065f46;  
    --color-5:   #064e3b;

    --bg-1:      #fafafa;
    --bg-2:      #f5f5f4;
    --bg-3:      #ffffff;
    --border:    #e7e5e4;
    --visited:   #249bd7;

    --text-1:    #1c1917;
    --text-2:    #57534e;
    --text-3:    #78716c;
    --text-4:    #a8a29e;

    --error:  #a32424;
  }
}